
.intro__place {
  z-index: 2;
  opacity: 1;
  transition: 1s linear;
  &-animate {
    opacity: 0;
  }
}

.greeting__place {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  &-animate {
    animation: fadein 1s linear;
    animation-fill-mode: forwards;
  }
}

@keyframes fadein {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
  }
}
